<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kestrel.weddingbookkeeper.api.wedding.dao.WeddingDao">

  <resultMap id="memberMap" type="com.kestrel.weddingbookkeeper.api.member.vo.Member">
    <result column="member_id" property="id"/>
    <result column="email" property="email"/>
    <result column="name" property="name"/>
    <result column="gender" property="gender"/>
    <result column="created_at" property="createdAt"/>
  </resultMap>
  <resultMap id="weddingMap" type="com.kestrel.weddingbookkeeper.api.wedding.vo.Wedding">
    <result column="wedding_id" property="id"/>
    <result column="location" property="location"/>
    <result column="qr_img_url" property="qrImgUrl"/>
    <result column="partner_code" property="partnerCode"/>
    <result column="manager_code" property="managerCode"/>
    <result column="wedding_date" property="weddingDate"/>
    <result column="created_at" property="createdAt"/>
    <collection column="groom_id" property="groom" resultMap="memberMap"/>
    <collection column="bride_id" property="bride" resultMap="memberMap"/>
  </resultMap>

  <insert id="save" parameterType="com.kestrel.weddingbookkeeper.api.wedding.dto.WeddingInsertDto">
    <selectKey keyColumn="wedding_id" keyProperty="weddingId" resultType="Integer" order="AFTER">
      select WEDDING_SEQ.CURRVAL from dual
    </selectKey>
    insert into WEDDING (WEDDING_ID, WEDDING_DATE, LOCATION, GROOM_ID, BRIDE_ID, PARTNER_CODE, MANAGER_CODE, BRIDE_NAME,
    GROOM_NAME)
    VALUES (wedding_seq.nextval, #{weddingDate, jdbcType=TIMESTAMP}, #{location}, #{groomId}, #{brideId}, #{partnerCode},
    #{managerCode}, #{brideName}, #{groomName})
  </insert>

  <update id="updateQrImgUrl" parameterType="com.kestrel.weddingbookkeeper.api.wedding.dto.WeddingUpdateDto">
    update WEDDING
    set QR_IMG_URL = #{qrImgUrl}
    where WEDDING_ID = #{weddingId}
  </update>

  <select id="selectWeddingInfo" resultType="com.kestrel.weddingbookkeeper.api.wedding.vo.Wedding">
    SELECT *
    FROM wedding
    WHERE wedding_id = #{weddingId}
  </select>

  <select id="selectByPartnerCode" resultType="com.kestrel.weddingbookkeeper.api.wedding.vo.Wedding">
    SELECT *
      FROM wedding
     WHERE partner_code = #{partnerCode}
  </select>

  <update id="updateGroomPartner" parameterType="com.kestrel.weddingbookkeeper.api.wedding.dto.PartnerDto">
    UPDATE wedding
       SET groom_id = #{groomId}, groom_name = #{groomName}
     WHERE wedding_id = #{weddingId}
  </update>

  <update id="updateBridePartner" parameterType="com.kestrel.weddingbookkeeper.api.wedding.dto.PartnerDto">
    UPDATE wedding
       SET bride_id = #{brideId}, bride_name = #{brideName}
     WHERE wedding_id = #{weddingId}
  </update>
</mapper>
